{% extends 'base.html.twig' %}

{% block title %}Asignaturas{% endblock %}

{% block body %}
    <section class="container mt-5">

        <div class="d-flex flex-row justify-content-between">
            <h3>Asignaturas : {{ asignaturas | length}}</h3>
            <a href="{{ path('asignatura_new') }}" class="btn btn-primary mb-2">Agregar nueva</a>
        </div>
        
        <div class="bg-light rounded shadow">
            <table class="table">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col"><a href="{{path('asignatura_index', { offset: offset, order:'nombre' } )}}">Nombre</a></th>
                    <th scope="col"><a href="{{path('asignatura_index', { offset: offset, order:'departamento' } )}}">Departamento</a></th>
                    <th scope="col">Año</th>
                    <th scope="col">Profesores</th>
                    <th scope="col">E. Matriculados</th>
                    <th scope="col">Contenidos</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for key, asignatura in asignaturas %}

                    <tr>
                        <td scope="row">{{ key + offset + 1 }}</td>
                        <td>{{ asignatura.nombre }}</td>
                        <td>{{ asignatura.departamento }}</td>
                        <td>{{ asignatura.AnnoImparte }}</td>
                        <td>{{ asignatura.Profesores | length }}</td>
                        <td>{{ asignatura.Estudiantes | length }}</td>
                        <td>{{ asignatura.ContenidosTotales | length }}</td>
                        <td>
                            <a href="{{ path('asignatura_show', {'id': asignatura.id}) }}">ver</a>
                            <a href="{{ path('asignatura_edit', {'id': asignatura.id}) }}">editar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {# Pagination #}
            <div class="d-flex justify-content-center">
            <nav aria-label="navigation shadow">
                <ul class="pagination">
                {% if anterior >= 0 %}
                  <li class="page-item">
                    <a class="page-link" href="{{path('asignatura_index', { offset: anterior, order: order } )}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                {% endif %}

                  {% for i in 0..numb_pag-1 %}     
                          <li class="page-item {% if offset == i * per_page %}
                              active
                          {% endif %}"><a class="page-link" href="{{path('asignatura_index', { offset: i * per_page, order: order } )}}">{{ i + 1 }}</a></li>  
                  {% endfor %}  

                {% if siguiente < asignaturas|length %}
                  <li class="page-item">
                    <a class="page-link" href="{{path('asignatura_index', { offset: siguiente, order: order } )}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                {% endif %}
                </ul>
              </nav>
            </div>

        </div>
    </section>
{% endblock %}
