{{ form_start(form, { 'attr': {'class': 'needs-validation', 'novalidate':true} }) }}
    <div class="row mb-3">
        <div class="row mb-3 col-md-6">
            <label for="nombre" class="col-sm-3 col-form-label">Titulo:</label>
            <div class="col-sm-9">
                {{ form_widget(form.nombre, {'attr': { "placeholder": "Nombre"}}) }}
                <div class="invalid-feedback">
                    Debe escribir un Nombre.
                </div>
            </div>
        </div>
        <div class="row mb-3 col-md-6">
            <label for="nombre" class="col-sm-3 col-form-label">Seccion:</label>
            <div class="col-sm-9">
                {{ form_widget(form.seccionContenidos, {'attr': { "placeholder": "Escoge una seccion"}}) }}
                <div class="invalid-feedback">
                    Debe escoger una seccion.
                </div>
            </div>
        </div>
        <div class="row mb-3 col-md-6">
            <label for="nombre" class="col-sm-3 col-form-label">Descripcion:</label>
            <div class="col-sm-9">
                {{ form_widget(form.descripcion, {'attr': { "placeholder": "Debe escribir una descripcion"}}) }}
                <div class="invalid-feedback">
                    Debe definir un adescripcion.
                </div>
            </div>
        </div>
        <div class="row mb-3 col-md-6">
            <label for="nombre" class="col-sm-3 col-form-label">Url:</label>
            <div class="col-sm-9">
                {{ form_widget(form.url_archivo, {'attr': { "placeholder": "URL"}}) }}
                <div class="invalid-feedback">
                    URL.
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <a class=" btn btn-primary col-2" href="{{ path('contenido_index') }}">Volver a la lista</a>
        <button class="btn btn-primary col-2">{{ button_label|default('Guardar') }}</button>
    </div>

    
{{ form_end(form) }}
