{% extends "base.html.twig" %}

{% block body %}
    
    <section class="container mt-5">

        <div class=" my-5">
            {% block nuevo %}                
                <h2 class="h2">Nuevo Usuario:</h2>
            {% endblock %}
        </div>

        {{ form_start(form, { 'attr': {'class': 'needs-validation', 'novalidate':true} }) }}

            <div class="row g-3">

                    <div class="row mb-3 col-md-6">
                        <label for="nombre" class="col-sm-4 col-form-label">Nombre de usuario:</label>
                        <div class="col-sm-8">
                        {{ form_widget(form.nomb_usuario, {'attr': { "placeholder": "Nombre"}}) }}
                          <div class="invalid-feedback">
                              Debe escribir un nombre de usuario.
                          </div>
                        </div>
                    </div>

                    <div class="row mb-3 col-md-6">
                        <label for="correo" class="col-sm-4 col-form-label">Correo:</label>
                        <div class="col-sm-8">
                        {{ form_widget(form.correo, {'attr': { "placeholder": "correo@dominio.com"}}) }}
                          <div class="invalid-feedback">
                              Debe escribir un correo valido.
                          </div>
                        </div>
                    </div>

                    <div class="row mb-3 col-md-6">
                        <label for="contrasenna" class="col-sm-4 col-form-label">Contraseña:</label>
                        <div class="col-sm-8">
                        {{ form_widget(form.password, {'attr': { "placeholder": "Contraseña"}}) }}
                          <div class="invalid-feedback">
                              La contraseña debe ser de almenos 8 caracteres.
                          </div>
                        </div>
                    </div>

                    <div class="row mb-3 col-md-6">
                        <label for="rep_contrasenna" class="col-sm-4 col-form-label">Repetir contraseña:</label>
                        <div class="col-sm-8">
                        {{ form_widget(form.rep_password, {'attr': { "placeholder": "Repite la contraseña"}}) }}
                          <div class="invalid-feedback">
                            La contraseña debe ser de almenos 8 caracteres.
                          </div>
                        </div>
                    </div>


                    <div class="row mb-3 col-md-6">
                        <label for="solapin" class="col-sm-4 col-form-label">Solapin:</label>
                        <div class="col-sm-8">
                        {{ form_widget(form.solapin, {'attr': { "placeholder": "Numero de solapin", "pattern":  "[ET]\\d{6}"}}) }}
                          <div class="invalid-feedback">
                              Solapin no valido, profesores empiezan con "T" y estudiantes con "E".
                          </div>
                        </div>
                    </div>

                    {% block role %}
                        
                    {% endblock %}
    
                </div>

                <div class="text-center mt-5">

                    {{ form_widget(form.enviar) }}
                    <button type="button" class="btn btn-danger  mx-3 my-2">Cancelar</button>
                    <button type="button" class="btn btn-warning mx-3 my-2">Resetear</button>

                </div>

        {{ form_end(form) }}

    </section>


{% endblock %}

{% block javascripts %}
    <script src="/js/form-validation.js"></script>
{% endblock %}