{% extends 'administrador/index.html.twig' %}

{% block banner %} {% endblock %}

{% block body %}

    <div class="container mt-5">
        <table class="table table-light table-hover">
          <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Solapin</th>
          <th scope="col">Rol</th>
        </tr>
          </thead>
          <tbody>
            {% for key, usuario in usuarios %}
                <tr>
                    <th scope="row">{{ key + 1 }}</th>
                    <td>{{ usuario.getNombUsuario }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.solapin }}</td>
                    <td>{{ usuario.getRoles[0] }}</td>
                </tr>
            {% endfor %}
        
          </tbody>
        </table>
    </div>

{% endblock %}
